.container{
    margin-top: 200px;
}

.container h1,h3{
    text-align: center;
    /* border: 2px solid; */
    display: inline-block;    
}

h1{
    background-image: conic-gradient(rgb(255, 0, 0),orange,yellow,lime,green,aqua,blue,rgb(255, 0, 0));
    position: relative;
    font-size: 3vw;
    -webkit-background-clip: text;
    color: transparent;
    background-color: black;
    padding: 0px 10px;


}

.bg::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 105%;
    top: -5px;
    /* background-color: aquamarine; */
    left: -7px;
    border-radius: 5px;
    background: conic-gradient(rgb(255, 0, 0),orange,yellow,lime,green,aqua,blue,rgb(255, 0, 0));
    z-index: -1;
}

.bg{
    height: 100px;
    width: 300px;
    background-color: black;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 600px;
}

.bg1{
    height: 100px;
    width: 300px;
    background-color: aqua;
    text-align: center;
    font-size: 1.8vw;
    position: relative;  
    justify-content: center;
    align-items: center;
    margin: 50px 600px;
}


.bg1::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 105%;
    top: -5px;
    left: -7px;
    border-radius: 5px;
    background: rgb(22, 125, 125);
    z-index: -1;
}